Repository Steelataure/Leaders: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_backend

.gitlab-ci.yml:

image: docker:24.0.5

services:
  - docker:24.0.5-dind

variables:
  DOCKER_TLS_CERTDIR: "/certs"

stages:
  - build
  - test
  - deploy

# --- JOB FRONTEND ---
build_frontend:
  stage: build
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "frontend"
      changes:
        - frontend/**/* # Ne se lance que si on touche au dossier frontend
  script:
    - echo " Construction du Front..."
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - cd frontend
    - docker build -t $CI_REGISTRY_IMAGE/frontend:latest .
    - docker push $CI_REGISTRY_IMAGE/frontend:latest

# --- JOB BACKEND ---
build_backend:
  stage: build
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "backend"
      changes:
        - backend/**/* # Ne se lance que si on touche au dossier backend
  script:
    - echo " Construction du Back..."
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - cd backend
    - docker build -t $CI_REGISTRY_IMAGE/backend:latest .
    - docker push $CI_REGISTRY_IMAGE/backend:latest

# --- JOB TEST ---
test_image:
  stage: test
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "frontend"
  script:
    # On lance l'image sur le port 80 (exigence esiea.cloud)
    - docker run -d --name test-app -p 80:80 $CI_REGISTRY_IMAGE/frontend:latest
    - sleep 5
    - apk add --no-cache curl
    # On vérifie que le serveur répond bien sur le port 80
    - curl --retry 3 --retry-delay 5 http://docker:80

# --- JOB DEPLOY ---
deploy_image:
  stage: deploy
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "frontend"
  script:
    - apk add --no-cache curl
    - |
      curl -X POST https://esiea.cloud/api/deploy/restart \
      -H "Authorization: Bearer $ESIEA_CLOUD_TOKEN" \
      -H "Content-Type: application/json"

Communication inter conteneur fonctionnel pour login
  .gitignore
  backend/.dockerignore
  backend/Dockerfile
  compose.yaml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/package-lock.json
  frontend/src/api/client.ts
Due: build_frontend, build_backend

Test modif pipeline pour deployer sue cloudesiea le compose
  .gitlab-ci.yml
Due: none

test
  .gitlab-ci.yml
Due: none

Commit de secure
  backend/logs.txt
  backend/src/main/java/esiea/hackathon/leaders/infrastructure/config/ApplicationConfig.java
  backend/src/main/java/esiea/hackathon/leaders/usecase/ConnectPlayerUseCase.java
  backend/src/main/java/esiea/hackathon/leaders/usecase/MatchmakingUseCase.java
Due: build_backend

Ajout des tests E2E pour la connexion/inscription
  frontend/package.json
  frontend/src/pages/Home.tsx
  frontend/src/pages/Lobby.tsx
  frontend/tests/auth.spec.ts
  frontend/tsconfig.e2e.json
Due: build_frontend

Test Unitaire RecruitementService.java
  backend/src/test/java/esiea/hackathon/leaders/application/services/RecruitmentServiceTest.java
Due: build_backend

Test Unitaire VictoryService.java
  backend/src/test/java/esiea/hackathon/leaders/application/services/VictoryServiceTest.java
Due: build_backend

Test Unitaire AuthService.java
  backend/src/test/java/esiea/hackathon/leaders/application/services/AuthServiceTest.java
Due: build_backend

deploy: final configuration for main branch
  .gitlab-ci.yml
Due: none

feat: Mode Masters (toutes cartes) + fix Geôlier blocking + scénarios sans doublons
  .claude/settings.local.json
  API.md
  backend/compose.yaml
  backend/src/main/java/esiea/hackathon/leaders/application/services/ActionService.java
  backend/src/main/java/esiea/hackathon/leaders/application/services/MovementService.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/action/GrappleHookAction.java
  backend/target/classes/esiea/hackathon/leaders/application/strategies/action/GrappleHookAction.class
  backend/target/classes/esiea/hackathon/leaders/application/strategies/actions/GrappleHookAction.class
  backend/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  backend/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  backend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
  frontend/package-lock.json
  frontend/src/App.tsx
  frontend/src/api/gameApi.ts
  frontend/src/components/HexBoard.tsx
  frontend/src/components/VictoryScreen.tsx
  frontend/src/pages/Game.tsx
  frontend/src/pages/Lobby.tsx
  hs_err_pid37724.log
  target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
Due: build_frontend, build_backend

deploy: final sync with cloud domains and port 80
  frontend/src/api/client.ts
Due: build_frontend

deploy: final sync with cloud domains and port 80
  .gitlab-ci.yml
Due: none

fix: add docker login to resolve access forbidden error
  .gitlab-ci.yml
Due: none

update finale multi
  frontend/.vite/deps/_metadata.json
  frontend/.vite/deps/package.json
  frontend/package-lock.json
  frontend1/src/pages/Game.tsx
Due: build_frontend

feat: implement matchmaking and multi-player logic v1
  backend/src/main/java/esiea/hackathon/leaders/adapter/controller/ActionController.java
  backend/src/main/java/esiea/hackathon/leaders/adapter/controller/PieceController.java
  backend/src/main/java/esiea/hackathon/leaders/adapter/infrastructure/entity/GameJpaEntity.java
  backend/src/main/java/esiea/hackathon/leaders/adapter/infrastructure/mappers/GameMapper.java
  backend/src/main/java/esiea/hackathon/leaders/adapter/infrastructure/repository/SpringGamePlayerRepository.java
  backend/src/main/java/esiea/hackathon/leaders/application/dto/request/ActionRequestDto.java
  backend/src/main/java/esiea/hackathon/leaders/application/dto/request/MoveRequestDto.java
  backend/src/main/java/esiea/hackathon/leaders/application/dto/response/GameStateDto.java
  backend/src/main/java/esiea/hackathon/leaders/application/dto/response/PlayerDto.java
  backend/src/main/java/esiea/hackathon/leaders/application/services/ActionService.java
  backend/src/main/java/esiea/hackathon/leaders/application/services/GameQueryService.java
  backend/src/main/java/esiea/hackathon/leaders/application/services/MovementService.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/action/GrappleHookAction.java
  backend/src/main/java/esiea/hackathon/leaders/infrastructure/config/ApplicationConfig.java
  backend/src/main/java/esiea/hackathon/leaders/usecase/ConnectPlayerUseCase.java
  backend/src/test/java/esiea/hackathon/leaders/ReproduceGameMoveIT.java
  backend/src/test/java/esiea/hackathon/leaders/application/services/ActionServiceTest.java
  backend/src/test/java/esiea/hackathon/leaders/application/services/MovementServiceTest.java
  backend/src/test/java/esiea/hackathon/leaders/usecase/MatchmakingTest.java
  frontend/.gitignore
  frontend/public/image/vieilours_ourson.png
  frontend/src/api/gameApi.ts
  frontend/src/constants/images.ts
  frontend/src/pages/Game.tsx
Due: build_frontend, build_backend

multiplayer working
  backend/src/main/java/esiea/hackathon/leaders/adapter/infrastructure/entity/GameJpaEntity.java
  backend/src/main/java/esiea/hackathon/leaders/adapter/infrastructure/entity/GamePlayerJpaEntity.java
  backend/src/main/java/esiea/hackathon/leaders/adapter/infrastructure/entity/PieceJpaEntity.java
  backend/src/main/java/esiea/hackathon/leaders/usecase/ConnectPlayerUseCase.java
  backend/src/test/java/esiea/hackathon/leaders/usecase/MatchmakingTest.java
  frontend/.gitignore
  frontend/src/services/auth.service.ts
Due: build_frontend, build_backend

gitignore
  .gitignore
  backend/.gitignore
  frontend/.gitignore
  frontend/.gitkeep
Due: build_frontend, build_backend

file d'attente
  backend/compile_error_ascii.txt
  backend/src/main/java/esiea/hackathon/leaders/adapter/controller/ActionController.java
  backend/src/main/java/esiea/hackathon/leaders/adapter/controller/AuthController.java
  backend/src/main/java/esiea/hackathon/leaders/adapter/controller/GameController.java
  backend/src/main/java/esiea/hackathon/leaders/adapter/controller/PieceController.java
  backend/src/main/java/esiea/hackathon/leaders/adapter/controller/SessionController.java
  backend/src/main/java/esiea/hackathon/leaders/adapter/controller/StatsController.java
  backend/src/main/java/esiea/hackathon/leaders/adapter/infrastructure/entity/GameJpaEntity.java
  backend/src/main/java/esiea/hackathon/leaders/adapter/infrastructure/mappers/GameMapper.java
  backend/src/main/java/esiea/hackathon/leaders/application/dto/response/GameStateDto.java
  backend/src/main/java/esiea/hackathon/leaders/application/services/GameQueryService.java
  backend/src/main/java/esiea/hackathon/leaders/application/services/GameService.java
  backend/src/main/java/esiea/hackathon/leaders/application/services/GameSetupService.java
  backend/src/main/java/esiea/hackathon/leaders/application/services/RecruitmentService.java
  backend/src/main/java/esiea/hackathon/leaders/domain/Session.java
  backend/src/main/java/esiea/hackathon/leaders/domain/model/GameEntity.java
  backend/src/main/java/esiea/hackathon/leaders/infrastructure/config/ApplicationConfig.java
  backend/src/main/java/esiea/hackathon/leaders/infrastructure/config/WebSocketConfig.java
  backend/src/main/java/esiea/hackathon/leaders/usecase/MatchmakingUseCase.java
  backend/src/main/java/esiea/hackathon/leaders/usecase/StatsUseCase.java
  backend/src/main/resources/schema.sql
  frontend/src/api/gameApi.ts
  frontend/src/components/HexBoard.tsx
  frontend/src/pages/Game.tsx
  frontend/src/pages/Lobby.tsx
Due: build_frontend, build_backend

no sounds + ingame stat update
  backend/src/main/java/esiea/hackathon/leaders/LeadersApplication.java
  backend/src/main/java/esiea/hackathon/leaders/adapter/controller/SessionController.java
  backend/src/main/java/esiea/hackathon/leaders/application/services/SessionCleanupService.java
  backend/src/main/java/esiea/hackathon/leaders/domain/Session.java
  backend/src/main/java/esiea/hackathon/leaders/domain/SessionRepository.java
  backend/src/main/java/esiea/hackathon/leaders/infrastructure/config/ApplicationConfig.java
  backend/src/main/java/esiea/hackathon/leaders/infrastructure/repository/InMemorySessionRepository.java
  backend/src/main/java/esiea/hackathon/leaders/usecase/HeartbeatUseCase.java
  backend/src/main/java/esiea/hackathon/leaders/usecase/LeaveSessionUseCase.java
  frontend/src/api/gameApi.ts
  frontend/src/components/HexBoard.tsx
  frontend/src/pages/Game.tsx
  frontend/src/pages/Lobby.tsx
Due: build_frontend, build_backend

create party with code
  frontend/src/api/gameApi.ts
  frontend/src/pages/Lobby.tsx
Due: build_frontend

animation game
  backend/src/main/resources/application.properties
  frontend/src/components/GameBackground.tsx
  frontend/src/index.css
  frontend/src/pages/Game.tsx
Due: build_frontend, build_backend

règles in game
  frontend/src/components/GameBackground.tsx
  frontend/src/components/RulesModal.tsx
  frontend/src/pages/Game.tsx
Due: build_frontend

scanner actif
  frontend/src/pages/Game.tsx
Due: build_frontend

upgrade riviere
  frontend/src/pages/Game.tsx
Due: build_frontend

musique fond jeu
  frontend/src/pages/Game.tsx
Due: build_frontend

correction cases recrutement
  backend/src/main/java/esiea/hackathon/leaders/adapter/infrastructure/entity/GameJpaEntity.java
  backend/src/main/java/esiea/hackathon/leaders/adapter/infrastructure/mappers/GameMapper.java
  backend/src/main/java/esiea/hackathon/leaders/application/services/GameQueryService.java
  backend/src/main/java/esiea/hackathon/leaders/application/services/GameService.java
  backend/src/main/java/esiea/hackathon/leaders/application/services/GameSetupService.java
  backend/src/main/java/esiea/hackathon/leaders/application/services/RecruitmentService.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/movement/LeaderBoostStrategy.java
  backend/src/main/java/esiea/hackathon/leaders/domain/model/GameEntity.java
  backend/src/main/resources/schema.sql
  frontend/src/components/HexBoard.tsx
  frontend/src/pages/Game.tsx
Due: build_frontend, build_backend

update game
  backend/src/main/java/esiea/hackathon/leaders/adapter/infrastructure/entity/GameJpaEntity.java
  backend/src/main/java/esiea/hackathon/leaders/adapter/infrastructure/mappers/GameMapper.java
  backend/src/main/java/esiea/hackathon/leaders/application/dto/response/GameStateDto.java
  backend/src/main/java/esiea/hackathon/leaders/application/dto/response/PlayerDto.java
  backend/src/main/java/esiea/hackathon/leaders/application/services/ActionService.java
  backend/src/main/java/esiea/hackathon/leaders/application/services/GameQueryService.java
  backend/src/main/java/esiea/hackathon/leaders/application/services/GameService.java
  backend/src/main/java/esiea/hackathon/leaders/application/services/GameSetupService.java
  backend/src/main/java/esiea/hackathon/leaders/application/services/MovementService.java
  backend/src/main/java/esiea/hackathon/leaders/application/services/RecruitmentService.java
  backend/src/main/java/esiea/hackathon/leaders/domain/model/GameEntity.java
  backend/src/main/java/esiea/hackathon/leaders/domain/model/enums/VictoryType.java
  backend/src/main/java/esiea/hackathon/leaders/infrastructure/config/ApplicationConfig.java
  backend/src/main/java/esiea/hackathon/leaders/infrastructure/config/WebSocketConfig.java
  backend/src/main/resources/schema.sql
  frontend/src/api/gameApi.ts
  frontend/src/components/GameBackground.tsx
  frontend/src/components/VictoryScreen.tsx
  frontend/src/pages/Game.tsx
Due: build_frontend, build_backend

leaders
  frontend/public/image/leaders/leader_blue.png
  frontend/public/image/leaders/leader_red.png
  frontend/src/components/HexBoard.tsx
  frontend/src/pages/Game.tsx
Due: build_frontend

voyant fin de tour
  backend/src/main/java/esiea/hackathon/leaders/application/services/GameQueryService.java
  frontend/src/api/gameApi.ts
  frontend/src/components/HexBoard.tsx
  frontend/src/pages/Game.tsx
Due: build_frontend, build_backend

not auto-tour + rodeur ability is working
  backend/src/main/java/esiea/hackathon/leaders/application/services/ActionService.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/action/BrawlerPushAction.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/action/GrappleHookAction.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/action/ManipulatorAction.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/action/NemesisBehavior.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/passive/ArcherCaptureStrategy.java
  backend/src/main/java/esiea/hackathon/leaders/domain/utils/HexUtils.java
  frontend/src/components/GameNotification.tsx
  frontend/src/components/HexBoard.tsx
  frontend/src/pages/Game.tsx
Due: build_frontend, build_backend
