Repository Steelataure/Leaders: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_backend

build_frontend:
  stage: build
  script:
  - echo " Construction du Front..."
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - cd frontend
  - docker build -t $CI_REGISTRY_IMAGE/frontend:latest .
  - docker push $CI_REGISTRY_IMAGE/frontend:latest

build_backend:
  stage: build
  script:
  - echo " Construction du Back..."
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - cd backend
  - docker build -t $CI_REGISTRY_IMAGE/backend:latest .
  - docker push $CI_REGISTRY_IMAGE/backend:latest

feat(infra): correction des chemins d'images et dockerisation fonctionnelle du front
  frontend/public/image/acrobate.png
  frontend/public/image/archere.png
  frontend/public/image/assassin.png
  frontend/public/image/cavalier.png
  frontend/public/image/cogneur.png
  frontend/public/image/garderoyal.png
  frontend/public/image/geolier.png
  frontend/public/image/illusioniste.png
  frontend/public/image/lance-grappin.png
  frontend/public/image/logo.png
  frontend/public/image/manipulatrice.png
  frontend/public/image/nemesis.png
  frontend/public/image/protecteur.png
  frontend/public/image/rodeuse.png
  frontend/public/image/tavernier.png
  frontend/public/image/vieilours&ourson.png
  frontend/public/image/vizir.png
  frontend/src/components/Caroussel.tsx
  frontend/src/pages/Game.tsx
  frontend/src/pages/Rules.tsx
Due: build_frontend

Test Unitaire ActionService.java
  src/test/java/esiea/hackathon/leaders/application/services/ActionServiceTest.java
Due: none

CHANGE: setup port 80 and gitlab-ci for esiea.cloud
  .gitlab-ci.yml
  frontend/Dockerfile
Due: build_frontend

Test Unitaire GameQueryService.java
  src/test/java/esiea/hackathon/leaders/application/services/GameQueryServiceTest.java
Due: none

Test Unitaire GameService.java
  src/test/java/esiea/hackathon/leaders/application/services/GameServiceTest.java
Due: none

[TEST]
  .gitlab-ci.yml
  frontend/Dockerfile
Due: build_frontend

add everything
  src/main/java/esiea/hackathon/leaders/adapter/controller/GameController.java
  src/main/java/esiea/hackathon/leaders/adapter/infrastructure/entity/PieceJpaEntity.java
  src/main/java/esiea/hackathon/leaders/adapter/infrastructure/repository/JpaPieceRepository.java
  src/main/java/esiea/hackathon/leaders/adapter/infrastructure/repository/SpringPieceRepository.java
  src/main/java/esiea/hackathon/leaders/application/dto/request/CreateGameRequestDto.java
  src/main/java/esiea/hackathon/leaders/application/dto/response/GameStateDto.java
  src/main/java/esiea/hackathon/leaders/application/services/ActionService.java
  src/main/java/esiea/hackathon/leaders/application/services/GameQueryService.java
  src/main/java/esiea/hackathon/leaders/application/services/GameService.java
  src/main/java/esiea/hackathon/leaders/application/services/GameSetupService.java
  src/main/java/esiea/hackathon/leaders/application/services/MovementService.java
  src/main/java/esiea/hackathon/leaders/application/services/VictoryService.java
  src/main/java/esiea/hackathon/leaders/application/strategies/action/AcrobatJumpAction.java
  src/main/java/esiea/hackathon/leaders/application/strategies/action/BrawlerPushAction.java
  src/main/java/esiea/hackathon/leaders/application/strategies/action/CavalryChargeAction.java
  src/main/java/esiea/hackathon/leaders/application/strategies/action/IllusionistSwapAction.java
  src/main/java/esiea/hackathon/leaders/application/strategies/action/ManipulatorAction.java
  src/main/java/esiea/hackathon/leaders/application/strategies/action/NemesisBehavior.java
  src/main/java/esiea/hackathon/leaders/application/strategies/action/ProwlerStealthAction.java
  src/main/java/esiea/hackathon/leaders/application/strategies/passive/PassiveFactory.java
  src/main/java/esiea/hackathon/leaders/application/strategies/special/ArcherSpecialCaptureStrategy.java
  src/main/java/esiea/hackathon/leaders/application/strategies/special/AssassinSpecialSoloStrategy.java
  src/main/java/esiea/hackathon/leaders/domain/model/VictoryCheckResult.java
  src/main/java/esiea/hackathon/leaders/domain/model/enums/GameStatus.java
  src/main/java/esiea/hackathon/leaders/domain/repository/PieceRepository.java
  src/main/resources/schema.sql
Due: none

correcting pom
  pom.xml
Due: none

bon sens du plateau de jeu
  frontend/src/pages/Game.tsx
  frontend/src/utils/hexCoords.ts
Due: build_frontend

surbrillance hexagones
  frontend/src/components/HexBoard.tsx
  frontend/src/pages/Game.tsx
  frontend/src/utils/hexCoords.ts
Due: build_frontend

Images pions
  frontend/src/components/HexBoard.tsx
Due: build_frontend

Feature/fix upgrade game
  frontend/src/components/HexBoard.tsx
  frontend/src/pages/Game.tsx
  frontend/src/utils/hexCoords.ts
Due: build_frontend

labels change
  frontend/src/pages/Lobby.tsx
Due: build_frontend

Correction des sons dupliqués/manquants
  frontend/src/pages/Game.tsx
Due: build_frontend

Ajout de sons sur les persos de recrutement/lobby + correction placement des perso du mock
  frontend/src/pages/Game.tsx
  frontend/src/pages/Lobby.tsx
Due: build_frontend

add limit of recruitement
  src/main/java/esiea/hackathon/leaders/application/services/ActionService.java
  src/main/java/esiea/hackathon/leaders/application/services/MovementService.java
  src/main/java/esiea/hackathon/leaders/application/services/RecruitmentService.java
Due: none

elo refont lobby
  frontend/src/pages/Lobby.tsx
Due: build_frontend

Feature/lobby
  frontend/src/pages/Lobby.tsx
Due: build_frontend

fixing tests
  src/main/java/esiea/hackathon/leaders/application/services/ActionService.java
  src/test/java/esiea/hackathon/leaders/application/services/ActionServiceTest.java
  src/test/java/esiea/hackathon/leaders/application/services/GameServiceTest.java
  src/test/java/esiea/hackathon/leaders/application/services/MovementServiceTest.java
Due: none

Ajout de Log4J dans le pom
  backend/pom.xml
Due: build_backend

Ajout logs sur application principale
  backend/src/main/java/esiea/hackathon/leaders/LeadersApplication.java
Due: build_backend

Ajout logs sur les controllers
  backend/src/main/java/esiea/hackathon/leaders/adapter/controller/ActionController.java
  backend/src/main/java/esiea/hackathon/leaders/adapter/controller/GameController.java
  backend/src/main/java/esiea/hackathon/leaders/adapter/controller/PieceController.java
Due: build_backend

Ajout logs sur les services
  backend/src/main/java/esiea/hackathon/leaders/application/services/ActionService.java
  backend/src/main/java/esiea/hackathon/leaders/application/services/GameQueryService.java
  backend/src/main/java/esiea/hackathon/leaders/application/services/GameService.java
  backend/src/main/java/esiea/hackathon/leaders/application/services/GameSetupService.java
  backend/src/main/java/esiea/hackathon/leaders/application/services/MovementService.java
  backend/src/main/java/esiea/hackathon/leaders/application/services/RecruitmentService.java
  backend/src/main/java/esiea/hackathon/leaders/application/services/VictoryService.java
Due: build_backend

Ajout logs sur le web socket
  backend/src/main/java/esiea/hackathon/leaders/infrastructure/controller/WebSocketController.java
Due: build_backend

Correction logs services
  backend/src/main/java/esiea/hackathon/leaders/application/services/GameService.java
Due: build_backend

deploy: full stack ready for esiea.cloud on port 80
  compose.yaml
  frontend/compose.yaml
Due: build_frontend

Ajout des logs sur les usecase
  backend/src/main/java/esiea/hackathon/leaders/usecase/ConnectPlayerUseCase.java
  backend/src/main/java/esiea/hackathon/leaders/usecase/CreateGameSessionUseCase.java
Due: build_backend

Ajout des logs sur les domains
  backend/src/main/java/esiea/hackathon/leaders/domain/Player.java
  backend/src/main/java/esiea/hackathon/leaders/domain/Session.java
Due: build_backend

Ajout des logs sur les actions passives
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/passive/ArcherCaptureStrategy.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/passive/AssassinSoloStrategy.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/passive/JailerBlockStrategy.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/passive/PassiveFactory.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/passive/ProtectorShieldStrategy.java
Due: build_backend

Ajout des logs sur les mouvements
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/movement/AcrobatJumpStrategy.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/movement/BrawlerPushStrategy.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/movement/CavalryChargeStrategy.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/movement/GrapplerHookStrategy.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/movement/IllusionistSwapStrategy.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/movement/LeaderBoostStrategy.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/movement/MoveStrategyFactory.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/movement/NemesisMoveStrategy.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/movement/ProwlerStealthStrategy.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/movement/RoyalGuardStrategy.java
Due: build_backend

Ajout des logs sur les actions actives
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/action/AcrobatJumpAction.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/action/ActionFactory.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/action/BrawlerPushAction.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/action/CavalryChargeAction.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/action/GrappleHookAction.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/action/IllusionistSwapAction.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/action/InnKeeperAction.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/action/ManipulatorAction.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/action/NemesisBehavior.java
  backend/src/main/java/esiea/hackathon/leaders/application/strategies/action/ProwlerStealthAction.java
Due: build_backend

Application du changement sonore dans toutes les pages
  frontend/src/App.tsx
  frontend/src/components/HexBoard.tsx
  frontend/src/components/River.tsx
  frontend/src/context/AudioContext.tsx
  frontend/src/pages/Game.tsx
  frontend/src/pages/Lobby.tsx
Due: build_frontend

Ajout de la musique de fond + changement volume de base
  frontend/src/context/AudioContext.tsx
  frontend/src/pages/Game.tsx
  frontend/src/sounds/backgroundMusic.mp3
Due: build_frontend

Ajout fonctionnalité login_user
  backend/compose-dev.yaml
  backend/src/main/java/esiea/hackathon/leaders/adapter/controller/AuthController.java
  backend/src/main/java/esiea/hackathon/leaders/application/dto/request/LoginRequestDto.java
  backend/src/main/java/esiea/hackathon/leaders/application/dto/request/RegisterRequestDto.java
  backend/src/main/java/esiea/hackathon/leaders/application/dto/response/LoginResponseDto.java
  backend/src/main/java/esiea/hackathon/leaders/application/dto/response/UserDto.java
  backend/src/main/java/esiea/hackathon/leaders/application/services/AuthService.java
  backend/src/main/java/esiea/hackathon/leaders/domain/model/UserCredentialsEntity.java
  backend/src/main/java/esiea/hackathon/leaders/domain/repository/UserCredentialsRepository.java
  backend/src/main/java/esiea/hackathon/leaders/infrastructure/exception/GlobalExceptionHandler.java
  backend/src/main/resources/application.properties
  frontend/.gitignore
  frontend/src/api/gameApi.ts
  frontend/src/pages/Lobby.tsx
  frontend/vite.config.ts
Due: build_frontend, build_backend

Ajout sélection volume SFX
  frontend/src/components/HexBoard.tsx
  frontend/src/components/River.tsx
  frontend/src/context/AudioContext.tsx
  frontend/src/pages/Game.tsx
  frontend/src/pages/Lobby.tsx
Due: build_frontend

Changement volume de base SFX et musique
  frontend/src/context/AudioContext.tsx
Due: build_frontend

Test Unitaire GameSetupService.java
  backend/src/test/java/esiea/hackathon/leaders/application/services/GameSetupServiceTest.java
Due: build_backend

Path conditions:
  build_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*
